# Node
node_modules/
.env
frontend/.env
backend/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
.venv/

# Frontend build
dist/
build/

# IDE
.vscode/
.idea/


# AI generated data
ai/data/
ai/model/